streamlit==1.22.0
pinecone-client==2.2.1
python-dotenv==0.21.1
pandas==1.5.3
numpy==1.23.5
openpyxl==3.0.10
xlsxwriter==3.0.9
slack-sdk==3.19.5
slack-bolt==1.16.2
bcrypt==3.2.2
openai==0.27.8
setuptools==59.6.0
